:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

* {
    margin: 0%;
    padding: 0%;
    border: none;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: 'roboto', sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    border: var(--border);
    background-color: var(--bg);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0% 1rem;
    font-size: 1.8rem;
    color: #ffff;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: var(--border);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.icons img {
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 40px;
    height: 40px;
}

.btn {
    background: var(--main-color);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.btn:hover {
    letter-spacing: 0.1rem;
}

.home-container {
    background: url("./img/home-img.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {
    max-width: 100rem;
}

.content h3 {
    font-size: 6rem;
    color: #fff;
}

.content p {
    font-size: 2rem;
    color: #fff;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0%;
}

.content .btn {
    margin-top: 2rem;
}

.title {
    font-size: 4rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.title span {
    color: #fff;
    text-transform: uppercase;
}

.about .row {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
}

.about .row .content {
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #fff;
    line-height: 1.8;
    padding: 1rem 0%;
}

.menu {
    padding: 6rem 10px;
}

 .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 5rem;
    cursor: pointer;
}

.menu .box-container .box img {
    height: 10rem;

}

.menu .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    padding: 1rem;
}

.menu .box-container .box .price {
    font-size: 2.0rem;
    color: #fff;
    padding: 0.5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: line-through;
    font-weight: 100;
    margin: 0.5rem;
}

.menu .box-container .box:hover {
    background-color: #fff;
}

.menu .box-container .box:hover >* {
    color: var(--black);
}
.menu .box-container .box:hover .price span {
    color: var(--black);   
}
.reviews .box-container .box {
   border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    
}
.reviews .box-container .box p {
   font-size: 1.5rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 1.8;
    max-width: 90%;
    margin: 0 auto;
    font-weight: lighter;
}
.reviews .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    margin: 1rem 0;
    font-weight: lighter;
}
.reviews .box-container .box img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}
.localização{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer{
    text-align: center;
    padding: 1rem;
    color: #fff;
    font-size: 1.5rem;
}
.footer .share{
    padding: 1rem
}
.footer .share img{
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}
.footer .share img:hover{
    background-color: var(--main-color);
}